@import '@/assets/styles/resources.scss';

.component-access {
  max-width: calc(732 / 1220 * 100%);

  @include sp {
    max-width: 100%;
  }

  > .title {
    @include basic-page-title;

    @include sp {
      max-width: 100%;
    }
  }

  > .content {
    margin-bottom: $default-gap;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;

    @include sp {
      margin-bottom: $default-gap-sp;
      font-size: 12px;
      line-height: 25.5px;
      letter-spacing: 0.36px;
    }
  }
}

.content-item {
  width: 100%;
  margin-bottom: $default-gap;

  @include sp {
    margin-bottom: $default-gap-sp;
  }

  > .title {
    margin-bottom: calc($default-gap / 2);
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;

    @include sp {
      margin-bottom: calc($default-gap-sp / 2);
      font-size: 12px;
      line-height: 25.5px;
      letter-spacing: 0.36px;
    }
  }

  > .image {
    position: relative;
    width: 100%;
    padding-top: calc(1622 / 2306 * 100%);
    margin-bottom: calc($default-gap / 2);

    @include sp {
      padding-top: auto;
      margin-bottom: calc($default-gap-sp / 2);
    }
  }

  > .text {
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;

    @include sp {
      font-size: 12px;
      line-height: 25.5px;
      letter-spacing: 0.36px;
    }
  }
}

@include basic-page-style;
