@import '@/assets/styles/resources.scss';

.component-link-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: underline;

  @include hover-style;

  &:hover {
    > span > svg {
      opacity: 0.65;
      transition: all 0.25s;
    }
  }

  @include sp {
    font-size: 12px;
    line-height: 25.5px;
    letter-spacing: 0.36px;
  }
}

.link-svg {
  display: inline-flex;
  width: 14px;
  height: 14px;
  margin-bottom: 1px;
  margin-left: 3px;
  vertical-align: middle;

  @include sp {
    width: 12px;
    height: 12px;
    margin-left: 4px;
  }
}
