@import './font.scss';
@import './mq.scss';

/** タイポグラフィー変数 */

// heading
@mixin text-base {
  font-size: $font-size-base-pc;
  font-weight: $font-weight-base;
  line-height: $line-height-base;

  @include sp {
    font-size: $font-size-base-sp;
  }
}
