// 全てchatGPT4で生成

@import '@/assets/styles/resources.scss';

/* stylelint-disable rscss/class-format */
.hero-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.controls {
  position: absolute;
  bottom: calc(25px / $design-frame-height-pc * 100%);
  left: 50%;
  z-index: 1000;
  display: flex;
  align-items: center;
  transform: translateX(-50%);
}

.arrow {
  padding: 0 2px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;

  @include hover-style;
}

.dots {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0 77px;
}

.dot {
  width: 10px;
  height: 10px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 50%;

  @include hover-style;
}

.dot.active {
  background-color: #aaa;
}

.logo {
  position: absolute;
  bottom: 50px; // bottomから50pxの位置
  left: 50%;
  transform: translateX(-50%);
}
