@import '@/assets/styles/resources.scss';

.component-scroll-handler {
  opacity: 0;
  transition: opacity 500ms ease-in 0s, transform 500ms ease-in 0s;

  // 少し上から出現するようにする（下から出るようにすると何故かスクロールが止まるバグ発生したので）
  transform: translateY(-5px);

  &.-entering {
    opacity: 0;
  }

  &.-entered {
    opacity: 1;
    transform: initial;
  }
}
