@import '@/assets/styles/resources.scss';

/* stylelint-disable rscss/class-format */
.indent-component {
  padding-left: 0; /* デフォルト値 */

  &.depth-1 {
    padding-left: 20px;
  }

  &.depth-2 {
    padding-left: 30px;
  }

  &.depth-3 {
    padding-left: 40px;
  }

  @include sp {
    &.depth-1 {
      padding-left: 10px;
    }

    &.depth-2 {
      padding-left: 15px;
    }

    &.depth-3 {
      padding-left: 20px;
    }
  }
}
