@import '@/assets/styles/resources.scss';

.component-menu {
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  color: #fff;
}

.main-title {
  position: relative;
  margin-bottom: -14.5px;
  font-size: 32px;
  text-align: justify;
}

.main-title::after {
  display: inline-block;
  width: 100%;
  content: '';
}

.sub-title {
  position: absolute;
  top: -22px;
  display: inline-block;
  width: 100%;
  font-size: 13px;
  text-align: justify;
}

.sub-title::after {
  display: inline-block;
  width: 100%;
  content: '';
}

.event-subtitle {
  font-size: 9px;
  text-align: justify;
}

.event-subtitle::after {
  display: inline-block;
  width: 100%;
  content: '';
}
