/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'reset-css';
@import '@/assets/styles/resources.scss';

html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f7f7f5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

input,
select,
textarea,
button {
  font: inherit;
  color: inherit;
}

button {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  // iosのタップハイライトを消す
  -webkit-tap-highlight-color: transparent;
}
