@import '@/assets/styles/resources.scss';

.component-sub-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;

  @include sp {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
  }
}
