@import '@/assets/styles/resources.scss';

.component-menu {
  width: 100%;
  margin: 0 auto;
  color: #fff;

  > .logo {
    width: calc(205px / $design-frame-width-pc * 100vw);
    min-width: 202px;
    margin-bottom: calc(60 / 1024 * 100vh);

    @include hover-style;

    @include sp {
      display: none;
    }
  }

  > .list {
    margin-bottom: calc(80 / 1024 * 100vh);
  }
}

.menu-list {
  opacity: 0.9;
}

.menu-item {
  margin-bottom: calc(#{$default-gap} / 4);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;

  > a {
    cursor: pointer;

    @include hover-style;
  }

  @include sp {
    font-size: 12px;
    font-weight: 500;
  }
}

.social-links {
  display: flex;
  gap: 14px;
  align-items: center;
  font-size: 14px;

  @include sp {
    flex-direction: column;
    gap: calc(#{$default-gap} / 4);
    align-items: flex-start;
    margin-bottom: calc(#{$default-gap} / 1.3333);
  }

  > .link {
    font-weight: 600;
    letter-spacing: 0.12em;

    @include hover-style;

    @include sp {
      font-size: 12px;
      font-weight: 500;
    }
  }
}
