@import '@/assets/styles/resources.scss';

.link-text {
  position: relative;
  display: flex; // アイコンを行内に配置するために必要です
  align-items: center; // アイコンとテキストを中央揃えにします
  font-size: inherit; // 希望のフォントサイズを設定します

  > .clip {
    width: 17px; // アイコンの幅を設定します。必要に応じて変更できます
    height: 17px; // アイコンの高さを設定します。必要に応じて変更できます
    margin-left: 6px; // アイコンとテキストの間隔を設定します。必要に応じて変更できます
    font-size: inherit; // 親要素のfont-sizeを継承します
  }

  &.-black {
    color: #000;
  }
}

.clip-board {
  position: fixed;
  z-index: $z-index-clip-board;
  color: #fff;
  visibility: hidden;
  opacity: 0; // 初期状態では透明に設定
  transition: opacity 0.1s linear; // 透明度を変化させるアニメーションを設定

  &.-show {
    visibility: visible; // isVisibleCopyTooltipがtrueの場合に表示する
    opacity: 1; // isVisibleCopyTooltipがtrueの場合に不透明にする
  }

  &.-black {
    color: #000;
  }
}
