@import '@/assets/styles/resources.scss';

.component-image-text {
  display: flex;
  gap: $default-gap;
  justify-content: space-between;
  width: 100%;

  @include sp {
    flex-direction: column;
    gap: $default-gap-sp;
  }

  > .image {
    position: relative;
    flex: 0 0 calc(400 / 1220 * 100%);
    padding-top: calc(400 / 1220 * 100%);

    @include sp {
      flex: 0 0 100%;
      padding-top: calc(333 / 333 * 100%);
    }

    // 角を12px丸める
    > img {
      border-radius: 12px;

      @include sp {
        border-radius: 8px;
      }
    }
  }

  > .content {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
  }
}

.content-title {
  margin-bottom: calc(#{$default-gap} / 2);
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;

  @include sp {
    margin-bottom: calc(#{$default-gap-sp} / 2);
    font-size: 12px;
    line-height: 25.5px;
    letter-spacing: 0.36px;
  }
}

.content-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;

  @include sp {
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.36px;
  }
}
