@import '@/assets/styles/resources.scss';

.component-side-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;

  > .hamburger {
    $padding: 30px;

    z-index: $z-index-hamburger;
    flex: 0 0 calc(#{$padding} * 2 + 11px);
    width: 100%;
    padding: $padding 20px;
    cursor: pointer;

    @include hover-style;
  }

  > .logo {
    padding: 10px 20px;
  }

  > .sublogo {
    padding: 10px 20px;
  }

  > .ticket {
    position: absolute;
    bottom: 100px;
    display: block;
    padding: 20px 10px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    letter-spacing: 5px;
    background-color: #000;
    border-radius: 16px;
    writing-mode: vertical-rl;

    @include hover-style;
  }

  > .scroll {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3px 10px 40px;
    text-align: center;
    cursor: pointer;

    &::before {
      display: block;
      width: 100%;
      height: 2px; /* 線幅 */
      content: '';
      background-color: $black; /* 線色 */
      border-radius: 1px; /* 線幅の半分 */
    }

    @include hover-style-black;
  }

  @include sp {
    background: none;

    > .logo {
      display: none;
    }

    > .sublogo {
      display: none;
    }

    > .ticket {
      display: none;
    }

    > .scroll {
      display: none;
    }
  }
}

.menu-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
